:host {
    grid-column: 1/-1 !important;
    margin-block-end: 25em;

    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
        background-color: rgb(234, 234, 234);
    }

    .faq-container {
        // background-image: url(../../assets/faq/1.png);
        // background-position: 20% 65%;
        // background-repeat: no-repeat;
        // background-size: auto;
        padding: 7rem 0;
        display: grid;
        grid-template-columns: 1fr 800px 1fr;
        gap: 2em;

        .main-content {
            justify-self: center;
            grid-column: 2;

            .title {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: center;
                margin-block-end: 1.5em;
                text-align: center;

                & > *:first-child {
                    font-size: 1.2em;
                }
                & > *:nth-child(2) {
                    font-size: 2.5em;
                }
                & > *:nth-child(3) {
                    color: grey;
                }
            }

            .mat-expansion-panel {
                background-color: #ffff;
                color: rgb(160, 160, 160);
                p {
                    padding-block-start: 2em;
                }

                .mat-expansion-panel-header {
                    box-shadow: 0 0 16px rgba(0, 0, 0, 0.213);
                }
            }
        }
    }
}
@media (max-width: 764px) {
    :host {
        grid-column: 2 !important;
        margin-block-end: 5em;

        .faq-container {
            padding: 2em 0;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0;
            background-image: none;
        }
    }
}
